@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

.logo {
    cursor: pointer;
    width: 210px;
    height: 82px;
    margin-right: auto;
}

li, a, button {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;

}

.nav_links li a:hover {
    color: #d9f5ff;
}


button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #d9f5ff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #F6F6F6;
}

h1.welcome {
    font-family: 'Robot Mono', monospace;
    font-size: 50pt;
    text-align: center;
    padding: 40px 40px;
}

.container {
    position: relative;
    width: 1000px;
    height: 400px;
    margin: auto;
}

.container .box {
    position: relative;
    width: calc(500px - 40px);
    height: calc(400px - 40px);
    background: #d9f5ff;
    float: left;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
}

.container .box .content {
    font-family: 'Roboto Mono', monospace;
    position: relative;
    top: 210px;
    height: 500px; 
    padding: 25px;
    text-align: center;
    box-sizing: border-box;
    background: #d9f5ff;
    transition: 0.5s;
}

#content-h2 {
    background-color: transparent;
}

#content-p {
    background-color:transparent;
}

.container .box .content h2 {
    margin: 0 0 10px;
    padding: 0;
    color: #000000;
}

.container .box .content p {
    margin: 0;
    padding: 0;
    color: #000000;
}

footer p{
    padding: 0;
    font-size: 0.8em;
    color: #000000;
    margin: 1em 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}

footer ul{
    list-style: none;
    display: flex;
    margin: 1em 0; 
}
footer ul li a{
    padding: 1em; 
    text-decoration: none;
    transition: 100ms;
}
footer ul li a:hover{
    color: var(--primary);
}

footer{
    width: 100%;
    background: #d9f5ff;
    color: #000000; 
    display: grid;
    place-items: center;
    padding: 1.5em; 
    font-size: 1.2rem;
}

.sticky-footer{
    position: sticky;
    top: 100%;
}

#footer-foooter {
    background-color:transparent;
}
